/* import text */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro:wght@300;400&display=swap");

/* general styles */
* {
  margin: 0;
  padding: 0;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 160px;
  height: 41px;
  padding: 0px 10px 0px 10px;
  background: #262e68;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px 1px 1px 1px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}

/* nav section */

nav {
  display: flex;
}

.nav {
  position: fixed;
  background-color: #333;
  width: 100%;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Source Sans Pro";
}

li {
  float: right;
}

.nav a {
  padding: 16px 18px;
}

.nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

li a:hover {
  background-color: #7c717c;
}

/* hero-section */
.hero-img {
  min-width: 350px;
  width: 100%;
  height: auto;
}

/* about section */
.about-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 20px 0px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-description {
  text-align: center;
  align-content: center;
  display: flex;
  width: 25%;
  justify-content: center;
}

.about-header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #606060;
  font-family: "Lato";
  font-size: 20px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 20px 0px;
}

.about-p {
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 80%;
  color: #606060;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  padding-bottom: 20px;
  margin: 20px 0px;
}

.about-p-text {
  width: 40%;
  line-height: 2.5;
}

.p-text {
  font-family: "Source Sans Pro";
  line-height: 2.5;
  opacity: 80%;
  
}

.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.about-img-1 {
  max-height: 300px;
}

/* reviews section */
.reviews-section {
  background-color: rgb(247, 245, 245);
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.reviews-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 20px 0;
  width: 60%;
}

.reviews-header-div {
  margin: 20px 0px;

  justify-content: center;
}

.reviews-header {
  font-family: "Lato";
  font-weight: 300;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
}

.reviews-p {
  width: 50%;
  margin: 10px 0px;
}

.review-p-text {
  opacity: 80%;
  color: #606060;
  font-family: "Source Sans Pro";
  line-height: 2;
}

.review-btn-div {
  margin: 10px 0px;
}

/* footer section */

.bot-nav {
  display: flex;
  justify-content: center;
  padding: 16px 18px;
  width: 100%;
  margin: 10px 0px;
}

.bot-nav-ul li {
  padding: 0px 10px;
  list-style: none;
  font-size: 16px;
}

.bot-nav a {
  text-decoration: none;
  font-family: "Source Sans Pro";
}

.footer-credits {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Source Sans Pro";
  font-size: 16px;
}
